@model IEnumerable<EspecialidadDTOResponse>

@{
    ViewBag.Title = "Especialidad";
    Layout = "_Layout";
}

<h2>Especialidades</h2>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>Codigo</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NombreEspecialidad</td>
            </tr>
        }
    </tbody>
</table>