@model LogingDTORequest

@{
    ViewBag.Title = "Inicio de Sesion";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class=" col-md-5" >
        <div class="card shadow-lg mt-5">
            <div class="card-header">
                <h3>Bienvenido de nuevo</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Usuario" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Usuario" class="form-label">Usuario</label>
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control"  aria-required="true" />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}



