@model RegisterViewModel

@{
    Layout = "_LayoutUser";
}

        <form method = "post">
    <h3>Registrar Uusario</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Usuario" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Usuario" class="form-label">Usuario</label>
                <span asp-validation-for="Input.Usuario" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombres" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Nombres" class="form-label">Nombres Completos</label>
                <span asp-validation-for="Input.Nombres" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Apellidos" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Apellidos" class="form-label">Apellidos Completos</label>
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>
@*             <div class="form-floating mb-3">
                <input asp-for="Input.NroDocumento" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.NroDocumento" class="form-label"> Numero de Documento</label>
                <span asp-validation-for="Input.NroDocumento" class="text-danger"></span>
            </div> *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Telefono" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Telefono" class="form-label">Telefono</label>
                <span asp-validation-for="Input.Telefono" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="off" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                @Html.DropDownListFor( m => m.Input.CodigoCiudad,Model.ListaCiudades,"-Seleccione-",new {
                    @class = "form-select",
                    id = "ddlCity"
                })
                <label asp-for="Input.CodigoCiudad" class="from-label">Ciudad</label>
            </div>
            <div class="form-floating mb-1">
                @Html.DropDownListFor( m => m.Input.CodigoDelegacion,new SelectList(Enumerable.Empty<SelectListItem>(),"Codigo","Nombre"),
                "-Seleccione-",new {
                @class = "form-select",
                id = "ddlDel"
                })
                <label asp-for="Input.CodigoDelegacion" class="from-label">Delegacion</label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" > Crear Cuenta</button>
            </div>
        </form>


<script>
    document.addEventListener('DOMContentLoaded', function (){
        const ddlCity = document.getElementById('ddlCity');
        var ddlDel = document.getElementById('ddlDel');

        ddlCity.addEventListener('change', function () {
            const codCity = this.value;

            fetch('/Delegaciones/Cargar?codigoCiudad=' + codCity)
                .then(function (response) {
                    return response.json();
                })
                .then(function (delegaciones) {
                    ddlDel.innerHTML = '';

                    delegaciones.forEach(function (ciudad) {
                        const option = document.createElement('option');
                        option.value = ciudad.codigo;
                        option.text = ciudad.nombre;
                        ddlDel.appendChild(option);
                    });
                })
                .catch(function (error) {
                    console.error('Error', error);
                });
        });
        
    })
</script>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}



